@model WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Sign in</h4>
            @Html.ValidationSummary()

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken();
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <a href="#" class="btn btn-facebook btn-block mb-2"> <i class="fab fa-facebook-f"></i> &nbsp  Sign in with Facebook</a>
                <a href="#" class="btn btn-google btn-block mb-4"> <i class="fab fa-google"></i> &nbsp  Sign in with Google</a>
                <div class="form-group">
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(u => u.Email)
                </div> <!-- form-group// -->
                <div class="form-group">
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(u => u.Password)
                </div> <!-- form-group// -->

                <div class="form-group">
                    @Html.ActionLink("Forgot password?", "ForgotPassword", null, new { @class = "float-right" })
                    <label class="float-left custom-control custom-checkbox"> 
                        @Html.CheckBoxFor(u => u.RememberMe, new { @class = "custom-control-input" })
                        <div class="custom-control-label"> Remember </div> 
                    </label>
                </div> <!-- form-group form-check .// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Login  </button>
                </div> <!-- form-group// -->
            }
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->

    <p class="text-center mt-4">
        Don't have account?
        @Html.ActionLink("Sign up", "Register")
    </p>
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
