@model WebUI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
}

<section class="section-conten padding-y" style="min-height:84vh">

    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Reset Password</h4>
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="code" value="@Model.Code" />
                <div class="form-group">
                    @Html.TextBoxFor(u => u.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(u => u.Email)
                </div> <!-- form-group// -->
                <div class="form-group">
                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", placeholder = "Create Password" })
                    @Html.ValidationMessageFor(u => u.Password)
                </div> <!-- form-group// -->
                <div class="form-group">
                    @Html.PasswordFor(u => u.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                    @Html.ValidationMessageFor(u => u.ConfirmPassword)
                </div> <!-- form-group// -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Reset  </button>
                </div> <!-- form-group// -->
            }
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
