@model IEnumerable<Core.Domain.ParameterValue>

@{
    ViewBag.Title = "Parameter Values";
}

@section styles {
    <link href="https://cdn.jsdelivr.net/npm/@Html.Raw("@")sweetalert2/theme-dark@3/dark.css" rel="stylesheet">
}

@Html.ActionLink("Add New Parameter Value", "Create", null, new { @class = "btn btn-primary mb-3" })

<!-- DataTales Example -->
<div class="card shadow mb-4" id="values">
    <div class="card-header py-3">
        <div class="row">
            <div class="col-md-9 align-self-center">
                <h5 class="m-0 font-weight-bold text-primary">Parameter Values</h5>
            </div>
            <div class="col-md-3">
                <input type="text" class="search form-control" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="sort" data-sort="id">Id <i class="fa fa-fw fa-sort"></i></th>
                        <th class="sort" data-sort="value">Value <i class="fa fa-fw fa-sort"></i></th>
                        <th class="sort" data-sort="subGroup">SubGroup <i class="fa fa-fw fa-sort"></i></th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody class="list">
                    @foreach (var value in Model)
                    {
                        <tr>
                            <td class="id">@value.Id</td>
                            <td class="value">@value.Value</td>
                            <td class="subGroup">@value.SubGroup.Name</td>
                            <td>@Html.ActionLink("Edit", "Edit", new { id = value.Id }, new { @class = "btn btn-primary" })</td>
                            <td>
                                @using (Html.BeginForm("Delete", "ParameterValues", new { id = value.Id }, FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="submit" class="d-none" />
                                }
                                <a href="#" class="btn btn-danger" onclick="deleteGroup(this)">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="d-flex justify-content-end">
                <ul class="pagination"></ul>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
    <script>
        var options = {
            valueNames: ['id', 'value', 'subGroup'],
            page: 10,
            pagination: true
        };

        var valueList = new List('values', options);

        function deleteGroup(e) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                preConfirm: () => {
                    $(e).parent().find('form').submit()
                },
            })
        }
    </script>
}

